body{
    background-size: auto;
    animation: change-background 240s linear infinite;
}

.header{
    padding-top: 20px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header .link{
    padding-left: 15px;
    padding-right: 15px;
}
.header .link{
    text-decoration: none;
    color: #69696991;
    transition: 0.3s;
}

.header .link:hover{
    color: #fff;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.logo_span{
    width: 300px;
}


.logo{

}

@keyframes change-background{
    0%{
        background-image: url(../img/fon.jpg);
    }
    25%{    
        background-image: url(../img/fon1.jpg);
    }
    50%{
        background-image: url(../img/fon2.jpg);
    }
    75%{
        background-image: url(../img/fon3.jpg);
    }
    100%{
        background-image: url(../img/fon4.jpg);
    }
}