.header{
    background-color: #000;
    height: 215px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: white;
}

.links{
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.logo{
    margin-top: 35px;
}

.logo img{
    width: 200px;
    margin-top: -30px;
}

.link{
    padding-left: 10px;
    padding-right: 10px;
}

.link a{
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #dbdbdb91;
    transition: 0.3s;
}

.active a{
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.link a:hover{
    color: #fff;
}